 Add some wine here ...
<form method="get" action="routing">
	<table>
		<tr>
			<td>Name</td>
			<td><input type="text" name="name"></td>
		</tr>
		<tr>
			<td>Kind</td>
			<td><select name="kind">
					<option value="kind1">kind1</option>
					<option value="kind2">kind2</option>
					<option value="kind3">kind3</option>
			</select></td>
		</tr>
		<tr>
			<td>Region</td>
			<td><select name="region">
					<option value="region1">region1</option>
					<option value="region2">region2</option>
					<option value="region3">region3</option>
			</select></td>
		</tr>
		<tr>
			<td>Winemaker</td>
			<td><select name="winemaker">
					<option value="winemaker1">winemaker1</option>
					<option value="winemaker2">winemaker2</option>
					<option value="winemaker3">winemaker3</option>
			</select></td>
		</tr>
		<tr>
			<td>Type</td>
			<td><select name="type">
					<option value="type1">type1</option>
					<option value="type2">type2</option>
					<option value="type3">type3</option>
			</select></td>
		</tr>
		<tr>
			<td>
			Price
			</td>
			<td>
				<input type="number" name="price" placeholder="123.12" pattern="[0-9]+(\\.[0-9][0-9]?)?" title="e.g. 1234.12"/>			
			</td>
		</tr>
	</table>
	<input type="hidden" value="add" name="action" />
	<input type="submit" value="submit" />
</form>


</html>