<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">Wine-Ing</a>
    <ul class="nav navbar-nav navbar-left">
		<li><a href="#" onclick="WineIng.action.getAllWine('costumer')" >Kunde</a></li>
		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="#" onclick="WineIng.action.getWineForm()" >Wein Hinzufügen</a></li>
				<li><a href="#" onclick="WineIng.action.getAllWine('admin')" >Weinliste</a></li>
				<li><a href="#" onclick="WineIng.action.getOrders()" >Bestellungen</a></li>
				
			</ul>
		</li>
    </ul>
  </div>
</div>
