<div class="table">
<table class="specificTable">
	<thead class="tableHead">
		<tr>
			<th onclick="sortIt(this,\'string\')">Name</th>
			<th >Categories</th>
		</tr>
	</thead>
	<tbody class="tableBody">
		<tr class="tableRow">
			<td>%%NAME%%</td>
			<td>%%CATEGORIES%%</td>
			<td><input disabled type="button" value="edit wine"  name="edit" onclick="editWine('%%ID%%')" /></td>
			<td><input disabled type="button" value="delete wine" name="delete" onclick="deleteWine('%%ID%%')" /></td>
		</tr>
	</tbody>
</table>
</div>