
<form>
	<div class="inputForm">
		<div class="textboxWrapper">
			<div class="textbox name">
				<label for="name">Name: </label> <input type="text"
					class="textbox inputname" value="">
			</div>
		</div>
		<div class="categories">
			<label >Categories: </label>
			<i class="fa fa-plus-circle fa-1x"onclick="addInputField()" title="Click to add category"></i>
			<div class="textboxes category"></div>
		</div>
		<div class="buttonRow">
			<input type="reset" value="Cancel">
			<input type="button" value="Save" onclick="saveSpecific()">			
		</div>
	</div>
	
</form>
