<div class="table">
<table class="specificTable">
	<thead class="tableHead">
		<tr>
			<th onclick="sortIt(this,\'string\')">Name</th>
			<th >Categories</th>
		</tr>
	</thead>
	<tbody class="tableBody">
		<tr class="tableRow">
			<td>%%NAME%%</td>
			<td>%%CATEGORIES%%</td>
			<td><input  type="button" value="edit specific"  name="edit" onclick="editSpecific('%%NAME%%')" /></td>
			<td><input disabled type="button" value="delete specific" name="delete" onclick="deleteSpecific('%%NAME%%')" /></td>
		</tr>
	</tbody>
</table>
</div>