<form>
	<div class="inputForm">
		<div class="textboxWrapper ">
			<div class="textbox %%NAME%% dummy">
				<label for="%%NAME%%">%%NAME%%</label> <input type="text"
					class="textbox input %%NAME%%" value="%%VALUE%%">
			</div>
		</div>
		<div class="dropdownWrapper ">
			<div class="dropdown %%NAME%% ">

				<label for="%%NAME%%">%%NAME%%</label> <select
					class="actualDropdown input %%NAME%%" id="%%NAME%%">
				</select>
			</div>
		</div>

	</div>
	<div class="btn-group">
			<button class="btn btn-info" type="reset" ><i class="fa fa-times-circle"></i> Abbrechen</button>
			<button class="btn btn-success"  class="button save"  onclick="WineIng.action.addWine()"><i class="fa fa-floppy-o"></i>  Speichern</button>
		</div>
		
</form>