<form>
	<div class="inputForm">
		<div class="textboxWrapper">
			<div class="textbox %%NAME%%">
				<label for="%%NAME%%">%%NAME%%</label> <input type="text"
					class="textbox input %%NAME%%" id="%%NAME%%" value="%%VALUE%%">
			</div>
		</div>
		<div class="dropdownWrapper">
			<div class="dropdown %%NAME%%">

				<label for="%%NAME%%">%%NAME%%</label> <select
					class="actualDropdown input %%NAME%%" id="%%NAME%%">
				</select>
			</div>
		</div>
		
	</div>
	<div class="buttonRow">
			<input type="reset" value="Cancel">
			<input type="button" class="button save" value="Save" >			
		</div>
</form>