<div class="filters">


</div>
<hr>
<div class="activeFilters"></div>

<hr>
<div class="table">
	<table class="wineTable">
		<thead class="tableHead">
		<tr>
			<th onclick="sortIt(this,'string')">Name</th>
			<th onclick="sortIt(this,'string')">Art</th>
			<th onclick="sortIt(this,'string')">Region</th>
			<th onclick="sortIt(this,'string')">Winzer</th>
			<th onclick="sortIt(this,'string')">Typ</th>
			<th onclick="sortIt(this,'number')">Preis</th>
			<th>Total</th>
		</tr>
		</thead>
		<tbody class="tableBody">
		<tr class="tableRow dummy">
			<td>%%NAME%%</td>
			<td>%%KIND%%</td>
			<td>%%REGION%%</td>
			<td>%%MAKER%%</td>
			<td>%%TYPE%%</td>
			<td>%%PRICE%%</td>
			<td><input type="button" value="Warenkorb hinzufügen" name="basketDrop"
					   onclick="WineIng.cart.addToCart('%%ID%%')"/></td>
		</tr>
		</tbody>
	</table>
</div>