<div class="table">
<table class="wineTable">
	<thead class="tableHead">
		<tr>
			<th onclick="sortIt(this,\'string\')">Name</th>
			<th onclick="sortIt(this,\'string\')">Kind</th>
			<th onclick="sortIt(this,\'string\')">Region</th>
			<th onclick="sortIt(this,\'string\')">Winemaker</th>
			<th onclick="sortIt(this,\'string\')">Type</th>
			<th onclick="sortIt(this,\'string\')">Price</th>
		</tr>
	</thead>
	<tbody class="tableBody">
		<tr class="tableRow">
			<td>%%NAME%%</td>
			<td>%%KIND%%</td>
			<td>%%REGION%%</td>
			<td>%%MAKER%%</td>
			<td>%%TYPE%%</td>
			<td>%%PRICE%%</td>
			<td><input type="button" value="edit wine" name="edit" onclick="editWine('%%ID%%')" /></td>
			<td><input type="button" value="delete wine" name="delete" onclick="deleteWine('%%ID%%')" /></td>
		</tr>
	</tbody>
</table>
</div>