<table class="wineTable">
	<thead class="tableHead">
		<tr>
			<th onclick="sortIt(this,\'string\')">Name</th>
			<th onclick="sortIt(this,\'string\')">Kind</th>
			<th onclick="sortIt(this,\'string\')">Region</th>
			<th onclick="sortIt(this,\'string\')">Winemaker</th>
			<th onclick="sortIt(this,\'string\')">Type</th>
			<th onclick="sortIt(this,\'number\')">Price</th>
		</tr>
	</thead>
	<tbody class="tableBody">
		<tr>
			<td>%%NAME%%</td>
			<td>%%KIND%%</td>
			<td>%%REGION%%</td>
			<td>%%WINEMAKER%%</td>
			<td>%%TYPE%%</td>
			<td>%%PRICE%%</td>
		</tr>
	</tbody>
</table>
