body {
	/* 	background-image: url(../img/tileable_wood_texture.png); */
	background-image: url(../img/dark_wood.png);
}

div.navbar-inner {
	/* 	background-color: initial; */
	/* 	background-image: linear-gradient(to bottom, #fff, rgba(242, 242, 242, 0.44)); */
	
}

ul.nav.navbar-nav.navbar-right {
	float: right;
}

div#myModal {
	box-shadow: 0px 0px 30px black;
}

div.content {
	position: relative;
	top: 15px;
	width: 900px;
	margin: auto;
}

.plz {
	width: 71px !important;
}

div.grandTotal {
	position: relative;
	width: 100%;
	text-align: center;
}

form.well.wineForm {
	width: 230px;
	margin: auto;
	height: 380px;
}

button.btn.btn-large.btn-warning.emptyCartBtn {
	position: absolute;
	left: 20px;
	bottom: -20px;
}

div.adress {
	position: relative;
	float: left;
	margin: auto;
}

button.btn.btn-large.btn-success.orderBtn {
	position: absolute;
	bottom: -20px;
	width: 150px;
	right: 20px;
}

div.well.wineTable.table {
	width: 700px;
	margin: auto;
}

table.wineTable.table.table-hover {
	background-color: transparent;
	max-width: 700px;
}

div.well.orderListWell {
	border: 1px solid;
	width: 370px;
	margin: auto;
	margin-bottom: 40px;
}

div.cart {
	position: fixed;
	top: 105px;
	font-variant: small-caps;
	width: 900px;
	color: wheat;
	text-align: right;
	margin-left: 140px;
}

span.cart.title {
	visibility: hidden;
}

i.fa.fa-times-circle {
	padding-right: 7px;
}

span.badge {
	position: absolute;
	top: 14px;
	right: 76px;
}

div.activeFilter {
	/* position: relative; */
	/* width: 83px; */
	float: left;
	border: 1px solid;
	padding-left: 8px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-top: 2px;
	margin-right: 5px;
	margin-bottom: 5px;
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
}

div.activeFilters {
	width: 100%;
	height: 31px;
}

div.table.table-hover {
	min-width: 650px;
}

div.span7 {
	padding-left: 20px;
	min-width: 650px;
}

div.span2 {
	border-right: 1px solid;
}

thead.tableHead {
	font-variant: small-caps;
}

.filter lable {
	font-size: 1.3em;
	font-variant: small-caps;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 4px 6px #FFF, 0 0 0 #000, 1px 4px 6px #def;
	font-weight: 500;
}

i.fa.fa-shopping-cart.fa-4x {
	text-shadow: 0px 0px 66px white;
	color: wheat;
}

div.row.title {
	font-variant: small-caps;
	font-family: fantasy;
	color: wheat;
	text-shadow: 0px 0px 66px white;
	width: 100%;
	padding-top: 100px;
	text-align: center;
}

.title h1 {
	font-weight: 900;
	font-size: 7em;
}
/*div.filter {*/
/*width: 160px;*/
/*float: left;*/
/*}*/
/*div.filters {*/
/*min-width: 650px;*/
/*width: 100%;*/
/*position: relative;*/
/* margin-bottom: 31px; */
/*overflow: scroll;*/
/*}*/
/*div.activeFilters {*/
/*width: 100%;*/
/*position: relative;*/
/*height: 20px;*/
/*padding: 4px;*/
/*}*/
/*div.activeFilter {*/
/*border: 1px solid;*/
/*float: left;*/
/*position: relative;*/
/*margin: 1px;*/
/*padding-left: 14px;*/
/*padding-right: 14px;*/
/*padding-bottom: 2px;*/
/*padding-top: 2px;*/
/*background-color: rgba(255,255,255,0.5);*/
/*border-radius: 5px;*/
/*box-shadow: 2px 2px 2px 1px black;*/
/*}*/

/*thead.tableHead {*/
/*background-color: lightgrey;*/
/*border-collapse: collapse;*/
/*}*/
/*table.wineTable {*/
/*width: 100%;*/
/*min-width: 650px;*/
/*border-collapse: collapse;*/
/*}*/
/*tr {*/
/*text-align: center;*/
/*}*/
/*hr {*/
/*min-width: 650px;*/
/*}*/
/*div.singleFilter {*/
/*border: 1px solid lightgray;*/
/*margin: 2px;*/
/*box-shadow: 1px 1px 3px 1px black;*/
/*background-color: rgba(220,220,220,0.5);*/
/*border-radius: 5px;*/
/*padding: 2px;*/
/*}*/

/*div#myModal {*/
/*min-width: 650px;*/
/*padding: 11px;*/
/*}*/